<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tam-taram</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>

<%- include('blocks/header/header') -%>

<div class="content-wrapper">
    <% const breadcrumbs = { category: 'home', subcategory: 'videos'} %>
    <%- include('blocks/breadcrumbs/breadcrumbs', {breadcrumbs: breadcrumbs}) -%>

    <div class="content-container">
        <h1 class="page-title">Videos</h1>

        <div class="main-video-cover unavailable js-main-video-cover" data-youtube-id = "Jp594-ajK5E"></div>

        <div class="main-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lobortis, nisl at
            ullamcorper egestas, felisadi piscing dolor, a interdum lorem uma quis magna.
        </div>
    </div>

    <div class="container">
        <div class="video-group js-step-by-step">
            <h2 class="video-group__title video-group__title_narrow">
                Step <span class="video-group__title_stress">by</span> step
            </h2>
            <%- include('blocks/slider/slider') -%>
        </div>
        <div class="video-group js-education">
            <h2 class="video-group__title">
                Craft <span class="video-group__title_stress">education</span>
            </h2>
            <%- include('blocks/slider/slider') -%>
        </div>
        <div class="video-group js-inspiration">
            <h2 class="video-group__title">Inspiration</h2>
            <%- include('blocks/slider/slider') -%>
        </div>
    </div>
</div>

<%- include('blocks/modal-video-box/modal-video-box') -%>

<%- include('blocks/footer/footer') -%>

<script src="scripts.js"></script>
</body>
</html>
